{{#if (and shouldRender isPhone)}}
  <div class="{{styleNamespace}} alert">
    <button type="button" class="close" {{action "dismiss"}}>
      {{svg-jar "x"}}
    </button>
    <p>{{t "application.mobile-banner.info"}}</p>
    {{#if isAndroid}}
      <a href="https://play.google.com/store/apps/details?id=com.everfox.animetrackerandroid">
        {{svg-jar "google-play"}}
      </a>
    {{else if isApple}}
      <a href="https://itunes.apple.com/us/app/kitsu-anime/id590452826">
        {{svg-jar "app-store"}}
      </a>
    {{/if}}
  </div>
{{/if}}