<div class="col-sm pl-0">
  <h3>{{t "explore.titles.explore" type=model.type}}</h3>
  {{explore-search type=model.type}}

  {{! Trending media this week }}
  {{media-list key="trending" type=model.type}}

  {{! Media airing this week }}
  {{media-list key="top-current" type=model.type sort="-userCount" filters=(hash status="current")}}

  {{! Upcoming media }}
  {{media-list key="top-upcoming" type=model.type sort="-userCount" filters=(hash status="upcoming")}}

  {{! Sampled favorites }}
  {{#if model.favorites.value}}
    {{#each randomFavorites as |favorite|}}
      {{media-list key="trending" type=model.type category=favorite.category viewMoreRoute="explore.explore.category.more"}}
    {{/each}}
  {{/if}}

  {{! Highest rated media }}
  {{media-list key="highest-rated" type=model.type sort="-averageRating"}}

  {{! Popular media }}
  {{media-list key="most-popular" type=model.type sort="-userCount"}}
</div>

{{general-category-sidebar
  categories=model.categories
  favorites=model.favorites
}}