{{#with model.category as |category|}}
  <div class="col-sm pl-0">
    {{favorite-category-button category=category}}
    <h3>
      {{t (concat "explore.titles." key)
        category=category.title
        type=type
      }}
    </h3>
    {{#if (not (is-empty category.description))}}
      {{read-more text=category.description limit=250}}
    {{/if}}
    {{explore-search type=type}}
    {{explore-more key=key type=type category=category}}
  </div>

  {{related-category-sidebar category=category favorites=model.favorites}}
{{/with}}