<div class="card">
  <div class="favorite-categories">
    <h5 class="text-uppercase">
      {{t "kitsu-explore.sidebar.favorite-categories"}}
    </h5>
    {{#if @task.isRunning}}
      <div class="d-flex justify-content-center">
        {{activity-indicator size="small" dark=true}}
      </div>
    {{else}}
      {{#if @task.value}}
        <ul class="list-unstyled categories-list">
          {{#each @task.value as |item|}}
            <li>
              {{#link-to-kitsu "kitsu-explore.index.category" item.category.slug}}
                {{item.category.title}}
              {{/link-to-kitsu}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>{{t "kitsu-explore.sidebar.empty-favorites"}}</p>
      {{/if}}
    {{/if}}
  </div>

  <div class="categories">
    <h5 class="text-uppercase">
      {{t "kitsu-explore.sidebar.categories"}}
    </h5>
    {{#if fetchCategories.isRunning}}
      <div class="d-flex justify-content-center">
        {{activity-indicator size="small" dark=true}}
      </div>
    {{else}}

    {{/if}}
  </div>
</div>