<h6>{{t (concat "kitsu-explore.titles." @key) type=@type}}</h6>

<div class="media-list-container">
  {{#each (range 0 limit) as |index|}}
    {{media-poster
      media=(object-at index media)
      isLoading=tasks.isRunning
      hasLibraryInteraction=true
      hasInformationHover=true
    }}
  {{/each}}
</div>

<div class="media-list-more">
  {{#if (is-empty @category)}}
    {{#link-to-kitsu viewMoreRoute @type @key}}
      {{t "kitsu-explore.view-more"}}
    {{/link-to-kitsu}}
  {{else}}
    {{#link-to-kitsu viewMoreRoute @type @category.slug @key}}
      {{t "kitsu-explore.view-more"}}
    {{/link-to-kitsu}}
  {{/if}}
</div>