{{#if @isLoading}}
  {{activity-indicator size="small"}}
{{else if media}}
  {{#media-information-dialog media=@media placement="right" disabled=(not @hasInformationHover)}}
    <div class="image-container">
      <img data-src={{@media.posterImage.medium}} alt={{@media.computedTitle}} class="lazyload" />
        <div class="image-overlay">
          {{link-to-kitsu "" (concat "kitsu-" @media.modelType ".show") @media.slug}}
          {{#if @hasLibraryInteraction}}
            {{! @TODO: Library button }}
          {{/if}}
        </div>
    </div>
  {{/media-information-dialog}}
{{/if}}