{{#if @hasLink}}
  <a href={{href-to "explore.explore.category" @category.slug}} {{action (action @onTransition)}}>
    {{@category.title}}
  </a>
{{else}}
  <span class="modal-item-title">
    {{@category.title}}
  </span>
{{/if}}

{{#if (gt @category.childCount 0)}}
  <span class="modal-item-expand" {{action "toggleExpansion"}}>
    {{svg-jar (if isExpanded "minus-square" "plus-square")}}
  </span>

  {{#if isExpanded}}
    {{#if fetchChildren.isRunning}}
      {{ui-spinner center=true}}
    {{else}}
      {{#each sortedChildren as |child|}}
        {{category-list/modal-item
          category=child
          hasLink=true
          onTransition=onTransition
          class="modal-item-child"
        }}
      {{/each}}
    {{/if}}
  {{/if}}
{{/if}}