<div class="jumbotron jumbotron-kitsu">
  <div class="container">
    <div class="row">
      <h2>{{t "feedback.titles.feedback"}}</h2>
      <nav class="nav">
        {{#link-to "bugs" class="nav-link"}}
          {{t "feedback.titles.bugs"}}
        {{/link-to}}
        {{#link-to "feature-requests" class="nav-link"}}
          {{t "feedback.titles.feature-requests"}}
        {{/link-to}}
        {{#link-to "database-requests" class="nav-link"}}
          {{t "feedback.titles.database-requests"}}
        {{/link-to}}
        {{#link-to "mobile-bugs" class="nav-link"}}
          {{t "feedback.titles.mobile-bugs"}}
        {{/link-to}}
        {{#link-to "mobile-features" class="nav-link"}}
          {{t "feedback.titles.mobile-features"}}
        {{/link-to}}
      </nav>
    </div>
  </div>
</div>

{{! Canny embed }}
<div class="container">
  <div class="row">
    <div class="d-flex w-100" data-canny></div>
    {{canny-script token=model.token boardToken=model.boardToken path=model.path}}
  </div>
</div>