{{#click-outside action=(action "closeEditor") except-selector="#ember-bootstrap-wormhole"}}
  <div class="{{styleNamespace}} card {{if isExpanded "expanded" "folded"}}" onclick={{action "openEditor"}}>
    <div class="editor-header">
      {{ui-avatar image=(get-image session.currentUser.avatar "medium")}}
      {{#if isExpanded}}
        <span class="name">{{session.currentUser.name}}</span>
      {{else}}
        <span class="placeholder">{{placeholder}}</span>
      {{/if}}
    </div>

    {{#if isExpanded}}
      {{#file-dropzone name="uploads" as |dropzone queue|}}
        <div class="editor-body">
          {{textarea-autosize
            autofocus=true
            value=message
            maxlength=maxLength
            placeholder=(t "shared-addon.app-feed.editor.message-placeholder")
            onKeys=(hash 13=(action "onEnter"))
            onInput=(action "processMessage")
            onPaste=(action "onPaste")}}
          {{app-feed/editor/user-selector visible=showUserSelector query=userSelectorQuery}}
        </div>

        <div class="editor-attachments">
          {{#if (and (gt uploads.length 0) fileQueyEmpty)}} {{! Sortable Uploads }}
            {{#sortable-items
              items=uploads
              onSortChanged=(action "uploadSortChanged")
              onItemRemoved=(action "removeUpload") as |sortable|}}
              <li class="uploaded-item">
                <img src={{sortable.item.content.original}} />
                <span class="item-index">{{inc sortable.index}}</span>
                <a href="#" {{action sortable.remove}}>
                  {{svg-jar "x"}}
                  {{bs-tooltip title=(t "shared-addon.app-feed.editor.attachments.uploads.remove")}}
                </a>
              </li>
            {{/sortable-items}}
          {{else if embed}} {{! Embed Preview }}
            <div class="embed-preview">
              <div class="embed-meta">
                {{t "shared-addon.app-feed.editor.attachments.embed.preview"}}
                <span class="clear-embed" {{action "clearEmbed"}}>
                  {{svg-jar "x"}}
                  {{bs-tooltip title=(t "shared-addon.app-feed.editor.attachments.embed.remove")}}
                </span>
              </div>
              {{#if (and isEditing post.embed)}}
                {{app-feed/items/post/embed embed=post.embed}}
              {{else}}
                {{#if fetchEmbed.isRunning}}
                  {{ui-spinner center=true}}
                {{else}}
                  {{#with fetchEmbed.last.value as |embed|}}
                    {{app-feed/items/post/embed embed=embed}}
                  {{/with}}
                {{/if}}
              {{/if}}
            </div>
          {{/if}}

          {{! Upload Dropzone }}
          {{#if (and dropzone.active (not isUploadDisabled))}}
            <div class="upload-dropzone">
              {{#if dropzone.valid}}
                {{t "shared-addon.app-feed.editor.attachments.uploads.dropzone.valid"}}
              {{else}}
                {{t "shared-addon.app-feed.editor.attachments.uploads.dropzone.invalid"}}
              {{/if}}
            </div>
          {{/if}}

          {{! Upload Progress }}
          {{#if (gt queue.files.length 0)}}
            <span class="upload-progress">
              {{t "shared-addon.app-feed.editor.attachments.uploads.progress" progress=(format-number queue.progress)}}
            </span>
          {{/if}}

          {{! Media Tag }}
          {{#if media}}
            <div class="media-preview">
              {{#unless isMediaReadOnly}}
                <span class="clear-media" {{action "clearMedia"}}>
                  {{svg-jar "x"}}
                  {{bs-tooltip title=(t "shared-addon.app-feed.editor.attachments.media.remove")}}
                </span>
              {{/unless}}
              {{app-feed/items/post/media media=media}}
              {{#if (gt media.unitCount 0)}}
                <div class="media-unit">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="unit-checkbox" checked={{isUnitTagged}} disabled={{isMediaReadOnly}} />
                    <label class="custom-control-label" for="unit-checkbox" {{action "setUnitTagged"}}>
                      {{t "shared-addon.app-feed.editor.actions.unit" type=media.type}}
                    </label>
                  </div>
                  <input class="form-control" type="number" min="1" max={{media.unitCount}}
                    value={{unitNumber}} oninput={{action (mut unitNumber) value="target.value"}} disabled={{isMediaReadOnly}} />
                </div>
              {{/if}}
            </div>
          {{/if}}
        </div>

        <div class="editor-actions">
          <div class="left-actions">
            {{#file-upload
              class=(concat "uploads" (if isUploadDisabled " disabled"))
              name="uploads"
              accept=filesAccepted
              multiple=true
              disabled=isUploadDisabled
              onfileadd=(perform uploadFile)}}
              {{svg-jar "camera"}}
              {{t "shared-addon.app-feed.editor.actions.images"}}
              {{bs-tooltip title=(t "shared-addon.app-feed.editor.actions.images-tooltip")}}
            {{/file-upload}}
            <span class="media-tag {{if (or media isMediaReadOnly) "disabled"}}" {{action "showMediaModal"}}>
              {{svg-jar "bookmark"}}
              {{t "shared-addon.app-feed.editor.actions.media"}}
              {{bs-tooltip title=(t "shared-addon.app-feed.editor.actions.media-tooltip")}}
            </span>
            <span class="emoji">
              <span id="emoji-editor-action">😃</span>
              {{app-feed/editor/emoji-selector
                triggerElement="#emoji-editor-action"
                popoverClass="emoji-editor-popover"
                onClick=(action "insertEmoji")}}
              {{bs-tooltip title=(t "shared-addon.app-feed.editor.actions.emoji")}}
            </span>
            <span class="help" {{action (mut showHelpModal) true}}>
              {{svg-jar "help-circle"}}
              {{bs-tooltip title=(t "shared-addon.app-feed.editor.actions.help-tooltip")}}
            </span>
          </div>
          <div class="right-actions">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="nsfw-checkbox" checked={{isNSFW}}>
              <label class="custom-control-label" for="nsfw-checkbox" {{action (toggle "isNSFW" this)}}>
                {{t "shared-addon.app-feed.editor.actions.nsfw"}}
              </label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="spoiler-checkbox" checked={{isSpoiler}}>
              <label class="custom-control-label" for="spoiler-checkbox" {{action (toggle "isSpoiler" this)}}>
                {{t "shared-addon.app-feed.editor.actions.spoiler"}}
              </label>
            </div>
            {{#ui-button onClick=(perform createPost) isLoading=createPost.isRunning isDisabled=(not canPost) buttonClass="post-button"}}
              {{#if isEditing}}
                {{t "shared-addon.app-feed.editor.actions.edit"}}
              {{else}}
                {{t "shared-addon.app-feed.editor.actions.post"}}
              {{/if}}
            {{/ui-button}}
          </div>
        </div>
      {{/file-dropzone}}
    {{/if}}
  </div>
{{/click-outside}}

{{! Media Modal }}
{{#bs-modal open=showMediaModal onHidden=(action (mut showMediaModal) false) class=(concat styleNamespace " editor-media-modal") as |modal|}}
  {{#modal.header}}
    <h5 class="modal-title">
      {{t "shared-addon.app-feed.editor.media.title"}}
      <small class="text-muted">
        {{t "shared-addon.app-feed.editor.media.subtitle"}}
      </small>
    </h5>
  {{/modal.header}}
  {{#modal.body}}
    {{app-feed/editor/media-search
      onClick=(action "selectMedia")}}
  {{/modal.body}}
{{/bs-modal}}

{{! Help Modal }}
{{#bs-modal open=showHelpModal onHidden=(action (mut showHelpModal) false) class=(concat styleNamespace " editor-help-modal") as |modal|}}
  {{#modal.header}}
    <h5 class="modal-title">
      {{t "shared-addon.app-feed.editor.help.title"}}
    </h5>
  {{/modal.header}}
  {{#modal.body}}
    {{markdown-to-html markdown=(fr-markdown-file "post-help") tables=true}}
  {{/modal.body}}
{{/bs-modal}}
