<div class="applinks">
  <a href="https://play.google.com/store/apps/details?id=com.everfox.animetrackerandroid">
    {{svg-jar "google-play"}}
  </a>
  <a href="https://itunes.apple.com/us/app/kitsu-anime/id590452826">
    {{svg-jar "app-store"}}
  </a>
</div>

<div class="socials">
  <a href="https://github.com/hummingbird-me/hummingbird" class="social-item">
    {{svg-jar "github"}}
  </a>
  <a href="https://twitter.com/HeyKitsu" class="social-item">
    {{svg-jar "twitter"}}
  </a>
  <a href="https://www.facebook.com/kitsu" class="social-item">
    {{svg-jar "facebook"}}
  </a>
</div>

<div class="links">
  <a href="mailto:help@kitsu.io" class="link">
    {{t "shared-addon.footer.contact"}}
  </a>
  <a href={{href-to "terms"}} class="link">
    {{t "shared-addon.footer.terms"}}
  </a>
</div>