{{yield}}

{{#if isEnabled}}
  {{#bs-popover class=(concat styleNamespace " popper") placement=@placement triggerEvents="hover" fade=false delayShow=250}}
    <div class="media-meta">
      <span class="media-title">{{computed-title @media true}}</span>
      <span class="media-year">{{@media.year}}</span>
    </div>
    {{#if @media.averageRating}}
      <div class="media-ratings {{percentageClass}}">
        {{math-floor @media.averageRating}}%
      </div>
    {{/if}}
    {{media-rankings media=media length="short"}}
    <div class="media-synopsis">{{@media.synopsis}}</div>
  {{/bs-popover}}
{{/if}}