{{#if @media.popularityRank}}
  <a href={{href-to "explore.explore.more" @media.type "most-popular"}} class="ranking ranking-popularity">
    {{svg-jar "heart"}}
    {{t "shared-addon.media-rankings.popularity" length=length type=@media.type rank=@media.popularityRank}}
  </a>
{{/if}}

{{#if @media.ratingRank}}
  <a href={{href-to "explore.explore.more" @media.type "highest-rated"}} class="ranking ranking-rating">
    {{svg-jar "star"}}
    {{t "shared-addon.media-rankings.rating" length=length type=@media.type rank=@media.ratingRank}}
  </a>
{{/if}}