{{if isExpanded (html-safe @text) truncatedText}}

{{#if hasBlock}}
  {{yield (hash
    isExpanded=isExpanded
    wasTruncated=shouldTruncate
    toggle=(toggle-action "isExpanded" this)
  )}}
{{else if shouldTruncate}}
  <a class="d-inline-block" href="#" {{action (toggle "isExpanded" this)}}>
    {{#if isExpanded}}
      {{t lessText}}
    {{else}}
      {{t moreText}}
    {{/if}}
  </a>
{{/if}}
