{{! Private API -- `_triggerEvents` set to an empty array to disable all event listeners for the popover. }}
{{#click-outside action=(action "outsideWasClicked") except-selector=eventTarget}}
  {{#bs-popover class=styleNamespace placement=placement fade=false visible=true renderInPlace=true _triggerEvents=(array)}}
    {{#if isPrimaryPage}}
      <div class="search-header">
        <p>{{t "shared-addon.search-popper.header"}}</p>
      </div>
      <div class="group-wrapper">
        {{#each groups as |group|}}
          {{component "search-popper/search-results"
            type=group
            query=query
            onTransitionToPage=(action "transitionToPage")
          }}
        {{/each}}
      </div>
    {{else}}
      <div class="search-header with-back">
        <a href="#" class="back-button" {{action "transitionToPrimary"}}>{{svg-jar "chevron-left"}}</a>
        <p>{{t "shared-addon.search-popper.results.header" type=group}}</p>
      </div>
      <div class="group-wrapper">
        {{component "search-popper/search-results"
          type=group
          query=query
          initialResponse=response
          isFullPage=true
          onBack=(action "transitionToPrimary")
        }}
      </div>
    {{/if}}
  {{/bs-popover}}
{{/click-outside}}
