<div class="user-banner">
  <a class="banner" href={{href-to "profile" user.linkableId}}>
    {{ui-image image=(get-image user.coverImage "tiny") fallback="/images/default_cover.png"}}
  </a>
  <div class="overlay"></div>
</div>
<div class="user-block">
  <a class="avatar" href={{href-to "profile" user.linkableId}}>
    {{ui-avatar image=(get-image user.avatar "large")}}
  </a>
  <a class="username" href={{href-to "profile" user.linkableId}}>
    <h4>{{user.name}}</h4>
  </a>
</div>
<div class="actions">
  {{#if (is-current-user user)}}
    {{#ui-button onClick=(action "transitionToProfile")}}
      {{t "shared-addon.user-card.view-profile"}}
    {{/ui-button}}
  {{else}}
    {{user-follow-button user=user}}
    {{user-actions user=user vertical=true}}
  {{/if}}
</div>
